.mat-form-field-wrapper 
{
    padding-top:1.25em
}


::ng-deep .mat-form-field-underline {
    display: none;
}

.new-node-text
{
    width: 100%;
    border: solid 1px #CED4DA;
    visibility: visible;
    background: #fff;
    min-height: 177px;
    margin: 0;
    border-radius: 0 0 11px 11px;

}
.mat-dialog-actions
{
    padding: unset;
    margin:unset; 
    visibility: visible;
    border-radius:10px;
    color: black!important;
    position: relative;
}
.add-node-button
{
    padding: 0;
    height: 20px;
    cursor: pointer;
    margin-left: 20px;
    color: #5D87BE;
}
.node-btn .save
{
    color:#5D87BE;
    left:110px;
}

.node-btn .cancel
{
    color:#F3F3F3;
    left: 111px;
}

.node-btn
{
    left: 107px;
    width: 80px;
    height: 32px;
    font-size: 15px;
    border-radius: 6px;
    margin-bottom: 7px;
    margin-top: 7px;

}
.main-menu-dots
{
    position: absolute;
    bottom: -17px;
    left: -16px;
    stroke: black;
    height: 13px;
}
.node-label
{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    margin-left: 4px;
    margin-top: 3px;
    color: #fff;
    font-weight: 350;
    float:left;
    height: 19px;
}
.label-container, .variable-container
{
    margin-top: 18px;
    height: 24px;
    border-radius: 5px;
    margin-left: 9px;
    /* padding: 0px 16px 0px 16px; */
    float:left;
    margin-right: 4px;
}
.variable-container
{
    background-color: #FFFFFF;
}

.variable-container .close {
    top: 6px;
}

.node_param
{
    height: 14px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #5D87BE;
    padding: 4px;
    float: left;
    font-weight: 350;
    margin-left: 4px;
    margin-top: 2px;
    /* text-align: center */
}

.menu
{
    position: absolute;
    top: 21px;
    right: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
}
.menu mat-icon
{
    height: 24px;
    width: 19px;
}
.paramlabelbox
{
    position: absolute;
    top: 21px;
    border: solid 1px;
    width: 100%;
    height: 23px;
    left: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    overflow: 1;
    z-index: 100;
}
.paramlabelbox input
{
    width: 63%;
    margin-left: 62px;
    border: none;
}

.porllabel
{
    border: solid 1px;
    background: #e6e6e6;
    vertical-align: middle;
    padding: 7px;
    font-size: 10px;
    border-left: none;
    border-bottom: none;
    border-radius: 9px 0 0 0;
    position: absolute;
    height: 13px;
    top: -5px;
    width: 37px;
    text-align: center;
}
.bin
{
    position: absolute;
    height: 12px;
    right: 33px;
    margin-top: 5px;
}
.node-textarea
{
    width: 325px;
    height: 49px;
    border: solid 1px;
    margin-left: 18px;
    right: 24px;
    border-color: #CED4DA;
    padding: 16px;
}
.compact
{
    height: 49px;
    margin-top: 0;
    width: 325px;
    border: 1px solid #ced4da;
    margin-left: 18px;
    right: 24px;
    padding: 16px;
}
.tick
{
    right: 8px;
    position: absolute;
    top: -2px;
    width: 21px;
    cursor:pointer;
}
.node_compact_container
{
    margin-top: 20px;
}
/* .top-nav input
{
    text-align: center;
} */
.close
{
    width: 13px;
    height: 13px;
    border: 1px solid;
    border-radius: 17px;
    position: relative;
    right: 4px;
    top: 3.5px;
    margin-left: 4px;

}

.var-cls-btn
{
    border: solid 1px;
    border-radius: 44px;
    width: 18px;
    display: block;
    text-align: center;
}
.label-container:hover
{
    background: #AEC3DF;
}

.label-container:hover mat-icon
{
    display: block;
}
/* .label-container:hover {
    padding-right: 15px;
} */
/* .node_param {
    padding-right: 18px;
    padding-left: 11px;
} */
/* .node_param:hover {
    padding-right: 15px;
} */
.label-container .close
{
    top: 6px;
}
.variable-container:hover mat-icon
{
    display: flex;
}
.label-container mat-icon, .variable-container mat-icon
{
    display: none;
    display: none;
    background: #5C87BE;
    color: #ffff;
    border: none;
}