<div>
  <div mat-dialog-actions>

    
    <span [matMenuTriggerFor]="NodeTextMenuComponent?.menu" (click)="menuOpened()" class="menu">
      <span class="main-menu-dots">
        <mat-icon class="three-dots" svgIcon="three-dots"></mat-icon>
      </span>
    </span>
    <app-node-text-menu id="menuBtn" #NodeTextMenuComponent [checkmenu]="menuOpen" [buttons]='buttons'
      (selectMenu)="menuClick($event, 0)" [currNode]="data">
    </app-node-text-menu>



    <div class="top-nav">
      <div class='label-container' *ngIf="data.nodedata.data ? data.nodedata.data.node_label: data.nodedata.node_label"
        style="display:flex; width:fit-content"><input maxlength="15" (keyup)="addLabel($event)"
          [style.width.ch]="data.nodedata.data ? (data.nodedata.data.node_label.length + 2): (data.nodedata.node_label.length + 2)"
          class="node-label" type="text"
          [(ngModel)]="data.nodedata.data ? data.nodedata.data.node_label: data.nodedata.node_label ">
        <mat-icon class="close"
          (click)="data.nodedata.data ? data.nodedata.data.node_label = null: data.nodedata.node_label = null"
          svgIcon="close"></mat-icon>
      </div>
      <div class='variable-container'
        *ngIf="data.nodedata.data ? data.nodedata.data.node_param: data.nodedata.node_param"
        style="position:relative; width:fit-content"><input  maxlength="15" input (keyup)="addVariable($event)"
          (click)="var_close=true;"
          [style.width.ch]="data.nodedata.data ? (data.nodedata.data.node_param.length  + 2): (data.nodedata.node_param.length + 2)"
          class="node_param" type="text"
          [(ngModel)]="data.nodedata.data ? data.nodedata.data.node_param: data.nodedata.node_param">
        <mat-icon (click)="data.nodedata.data ? data.nodedata.data.node_param = null: data.nodedata.node_param = null; deleteKeys()"
          class="close" svgIcon="close"></mat-icon>
      </div>
    </div>
    <div class="new-node-text">
      <div class="node_compact_container">
        <div mat-dialog-content (mouseleave)="bin = false;"
          [ngClass]="[showLabelBox === true && i==index ? 'mat-dialog-content-param':'']"
          *ngFor="let dat of tmpName; let i = index;">
          <div (mouseover)="bin = true;cur_text = i">
            <span class="bin" *ngIf="bin && i===cur_text && i!== 0">
              <mat-icon class="node-bin" (click)="delMsg(i)" svgIcon="node-bin"></mat-icon>
            </span>
            <textarea class="compact" [(ngModel)]="dat.node_text"></textarea>
          </div>
        </div>
        <textarea class="node-textarea"
          *ngIf="tmpName.length<5 && clickedNewMsg"
          placeholder="Enter text"  [(ngModel)]="newNodeName"></textarea>
        <p class="add-node-button" *ngIf="(tmpName.length<5) && (plusbtn || newNodeName || !clickedNewMsg)"
          (click)='saveOnType(newNodeName,"byplusbutton")'>+<u>New Message</u></p>
      </div>
      <button class="node-btn save" mat-button [mat-dialog-close]="" cdkFocusInitial (click) = "saveNodeTexts()">Save</button><button
        class="node-btn cancel" mat-button [mat-dialog-close]="" (click)="cancel()" cdkFocusInitial>Cancel</button>
    </div>
  </div>
  <div>
