<mat-card class='edge-container'>
  <p class="top-nav" style="border-radius: 6px 6px 0 0;">
    <mat-icon [matMenuTriggerFor]="menu" [inline]="true" class="three-dots edge-tick" svgIcon="three-dots"></mat-icon>
    <div [ngClass]="(active=='0')?'edge edge-clicked':'edge'" tabindex="1" (click)="noInput(); active = '0'">
      <mat-icon class="arrow-edge" svgIcon="arrow-noinput"></mat-icon><span>No input</span>
    </div>
    <div [ngClass]="(active=='-1')?'edge edge-clicked':'edge'" tabindex="1" (click)="freeText(); active = '-1'">
      <mat-icon class="arrow-edge" svgIcon="arrow-freetext"></mat-icon><span>Freetext</span>
    </div>
    <div [ngClass]="(active=='1')?'edge edge-clicked':'edge'" tabindex="1"
      (click)="viewButtonBox = true;addButton(); active = '1'">
      <mat-icon class="arrow-edge" svgIcon="arrow-button"></mat-icon><span>Button</span>
    </div>
    <div class="edge" tabindex="1" (click)="buttonControl.disable()">
      <mat-icon class="arrow-edge" svgIcon="arrow-image"></mat-icon><span>Image</span>
    </div>
    <div [ngClass]="(active=='-2')?'edge edge-clicked':'edge'" class="edge" tabindex="1" (click)="buttonControl.disable(); addCalendar(); active = '-2'">
      <mat-icon class="arrow-edge" svgIcon="arrow-calendar"></mat-icon><span>Calendar</span>
    </div>
    <mat-form-field [hidden]='viewButtonBox' class="example-full-width">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input class="buttontext" [style.background]="(active=='1')?'#ffff':'#F3F3F3'"
            [style.width]="(active=='1')?'73%':'89%'" matInput aria-label="Number" [formControl]="buttonControl"
            [matAutocomplete]="auto">
          <span class="link-buttons" *ngIf="active == '1'">
            <span class="url-btn">
              <mat-icon [style.background]="edge.url ?'#5D87BE':'#fff'" class="arrow-link" svgIcon="arrow-link"
                (click)="linkType('link')"></mat-icon>
            </span>
            <span class="url-btn">
              <mat-icon  [style.background]="edge.imgurl ?'#5D87BE':'#fff'" class="arrow-link-image"
                svgIcon="arrow-link-image" (click)="linkType('imglink')"></mat-icon>
            </span>
          </span>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
              {{option.value}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-form-field>
    <button style="height:32px" class="node-btn save" mat-button cdkFocusInitial (click)="saveButton()" style="top:22px;right: 11px;
    border-radius: 7px;">Save</button><button style="height:32px" class="node-btn cancel" mat-button cdkFocusInitial
      style="top:22px;
    border-radius: 7px;" (click)="cancel()">Cancel</button>
    <div class="url" *ngIf="(link||linkImg == true) && urlGroup">
      <span class="url-span">Url</span>
      <input type="text" class="url-input" placeholder="Enter text" [(ngModel)]="edge.url">
      <span class="url-tick" *ngIf="(edge.url && edge.url.length>1)" (click)="addUrl()">
        <mat-icon svgIcon="tick"></mat-icon>
      </span>

    </div>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="deleteEdge()">Delete Edge</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>