.edge
{  
    width: 44px;
    font-size: 8px;
    height: 44px;
    display: inline-flex;
    position: relative;
    cursor: pointer;
    margin-left: 29px;
    top: 15px;
    left: -15px;
}
.edge:hover
{
    background: #C2E6F8;
}

.edge-clicked
{
    background: #C2E6F8;
}
.button-tick
{

    position: absolute;
    right: 52px;
    height: 32px;
    top: 4px;
}
.edge span 
{
    position: absolute;
    bottom: 4px;
    left: 10px;
}
.edge mat-icon
{
    left: 11px;
    top: 3px;
    position: absolute;
}
.edge-container
{
   padding: unset;
   color: #afc3df;
   position: absolute;
   border-radius: 10px;
   min-height: 228px;
   width:400px;
   text-align: center;
}
.url
{
    position: absolute;
    left: 430px;
    top: 115px;
}
.mat-dialog-container
{
    padding: unset;
}
.buttontext
{
    padding-left: 8px;
    padding-right: 8px;
    height: 36px;
    margin-top: 9px;
    border: solid 1px #CED4DA;;
    width: 89%;
    margin-left: 12px;
}

.buttontext-other
{
    width: 73%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.url-btn mat-icon
{
    width: 23px;
    height: 23px;
    margin-top: -4px;
    border-radius: 16px;
    padding: 2px;

}
.url-btn mat-icon:active
{
    background: #5D87BE;
}
.url-btn path
{
    stroke: #ffff;
}
mat-option:hover
{
    background: #C2E6F8;
}

.url-span
{
    background: #F3F3F3;
    font-size: 10px;
    padding: 4px;
    position: absolute;
    top: 2px;
    border-right: solid 1px;
    left: -26px;
    height: 11px;
    border-radius: 3px 0px 0px 3px;
    width: 19px;
    text-align: center;
    width: 40px;
    padding-top: 13px;
    padding-bottom: 14px;
    border-color:#CED4DA;
    font-size: 15px;
    color: #1E294D

}

.url-input
{
    padding-left: 6px;
    width: 271px;
    height: 36px;
    top: 2px;
    position: absolute;
    border: none;
    left: 22px;
    background-color: white;
    border-radius: 0px 3px 3px 0px;
    padding-right: 33px;
}
.link-buttons
{
    position: absolute;
    right: 19px;
    height: 15px;
    top: 26px;
}

.url-tick
{
    position: absolute;
    left: 205px;
    top: 2px;
    height: 19px;
    background: #fff;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
    left: 306px;
    top: 11px;
    color: #5D87BE;
}
textarea:focus, input:focus{
    outline: none;
}

.edge-tick
{
    width: 4px;
    height: 18px;
    margin-top: 7px;
    right: 7px;
    position:absolute;
}
.edge-tick svg
{
    stroke: #ffff;
    height: 30px;
}

.edge-container .top-nav
{
    height: 33px;
}