.menu-dots
{
    position: absolute;
    bottom: 15px;
    left: -3px;
    stroke: black;
    height: 14px;
}
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.tick-label
{
  position: absolute;
  left: 86px;
  width: 16px;
  background: #fff;
  height:17px;
  top: -2px;
}
  .order
  {
    line-height: 21px;
    height: 20px;
    font-size: 10px;
    margin-left: -27px;
    width: 136px;
    text-align: center;
    border: solid 1px #afc3df;
    margin-top: 7px;
    border-radius: 5px; 
    padding: 0; 
    margin-left: -21px;    
  }
.button-container
{
    padding: 0;
}
.button-order
{
  text-align: center;
  font-size: 11px;
}

.labelMenu
{
  width: 105px;
  overflow: hidden;
  height: 38px;
  padding: 7px 3px 3px 16px;
  font-size: 12px;
  font-weight: 700;
}
.paramMenu
{
  width: 105px;
  overflow: hidden;
  height: 38px;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 3px 3px 16px;
}
.labelMenu p
{
  margin: 0;
}

.labelMenu input
{
  width: 87px;
  border-bottom:1px solid;
}

.labelMenu .mat-menu-panel
{
  border-radius: none;
}