<p mat-button [matMenuTriggerFor]="menu" ></p>
<mat-menu #menu="matMenu" class="Matmenu" [overlapTrigger]="true">
  <div *ngIf='checkmenu===null'>
    <div *ngFor="let items of itemList">
      <button mat-menu-item (click)="selectedMenu(items.item);$event.stopPropagation()">{{items.item}}</button>
    </div>
  </div>
  <div *ngIf="checkmenu === 'order'" class = "button-order">
    <span>Visualization order</span>
    <ul dragula="VAMPIRES" [dragula]='"bag-items"' [(dragulaModel)]="buttons">
      <li class="order" mat-menu-item *ngFor="let button of buttons">{{button.label}}</li>
    </ul>
  </div>
  <div class = "labelMenu" *ngIf="checkmenu === 'label' || checkmenu === 'Variable'" (click)="onType($event)">
    <p style="text-transform:capitalize;">{{checkmenu}}</p>
    <form class="example-form">
      <mat-form-field [floatLabel]="'never'" class="example-full-width">
        <input maxlength="15" type="text" placeholder="{{checkmenu === 'Variable' ? 'Enter variable':'Enter label'}}" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-icon *ngIf="myControl.value" class="tick-label" (click) = "addLabelOrVar()" svgIcon="tick"></mat-icon>
        <mat-autocomplete  #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</mat-menu>