.scripttexts input
{
    padding: 6px;
    border: solid 0.5px;
    width: 92%;
    margin-top: 4px;
    border-color: #E6E8EC;

}
.scripttexts 
{
    font-size: 13px;
    color: #6576BF;
}
.scripttexts button
{
    margin-left: 23px;
    height: 32px;
    font-size: 10px;
    border-radius: 3px;
}
.save
{
    background: #6576BF;
    color: #fff;
    font-weight: bold;
}
.cancel
{
    background: #F3F3F3;
    color: black;
    font-weight: bold;
}