<app-subnav></app-subnav>
<br>
<div class = scripttexts>
Script name
    <div class="example-container">
          <input  matInput placeholder="Enter text" [formControl]="sc_name" required>
          <mat-error *ngIf="sc_name.invalid">{{errorMsg}}</mat-error>
      </div>
<br><br>
Client name
<br>
    <input matInput placeholder="Enter text">
<br><br>
<button mat-button class = "cancel" (click)= "onNoClick()">Cancel</button>
<button mat-button class = "save"  (click)="saveScript()">Save</button>
</div>