<mat-spinner *ngIf="!response" [color] = spinner></mat-spinner>
<div id="graphcontainer"  style="text-align:center">
    <input type = "submit" *ngIf = "updatedGraphData" value = "Save" class = "savebtn" (click) = "saveGraph(true)">
</div>

