
/* .overlay {
  position: absolute;
  padding: 8px;
  font-size: 10px;
} */
.nodesymbol
{
  z-index: 1000;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #202d57;
}
.new_node_text
{
  pointer-events: auto;
}
foreignObject .container
{
  pointer-events: auto;
}
#graph .node {
  pointer-events: none;
  cursor: pointer;
  fill: #fff
}

.found {
  fill: #ff4136;
  stroke: #ff4136;
}

.node text {
  font: 10px sans-serif;
}
.link-text
{
  position: relative;
  font-size: 10px;
  pointer-events: none;

}
.linkLabel
{
  pointer-events: all;
  cursor: pointer;
  height: 15px;
  clear: both;
  position: relative;
  font-size: 12px;
  overflow-y: hidden;
  color: #1e294d;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[contenteditable]:focus {
    border-radius: 5px solid;
}

.edgetext
{
  position: absolute;
  width:100%;
}
.couplinglink
{
  cursor: pointer;
  pointer-events: none;
}
#graph
{
  left:0;
  margin-left: 5%;
  margin-top: 5%;
  width:90%!important
}
.coupling-text
{
  pointer-events: none;
}
.nodesymbol
{
  pointer-events: all;
}
#graph .link {
  fill: none;
  stroke-width: 2px;
  cursor: pointer;
  pointer-events: none;
}
#graph .couplinglink {
  stroke:#5D87BE;
}
#graphcontainer
{
  width:100vw;
  height: 93.9vh;
}
xmp
{
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 23ch;
  overflow:hidden
}
svg {
  width:inherit;
  display: block;
  margin: 0 auto;
  top:0;
  position: absolute;
}
.node_text
{
  border-radius: 3px; 
  min-height: 47px;
  padding: 7px;
  background: #ffffff; 
  border: 1px solid #8e94a6;
  font-size:12px;
  overflow-y: hidden;
  width: 154px;
  top: -108px;
  color: #1e294d;
}
foreignObject .inactive {
    min-height: 1px;
    height: 1.1em;
}
#line {
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,0.2);
  height: 1px;
  transform-origin: top left;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.node_text2
{
border-radius: 6px;  
width:168px; 
text-align:center;
height: 24px; 
background: #ffffff; 
border: 1px dashed #8e94a6;
top: -42px;
position: absolute;
color: #1e294d;
}
.node_text2 span
{
position:absolute;
font-weight: bolder;
font-size: 24px;
}
#graph .edited
{
    height: 15px;
    padding: 3px;
    clear:both;
    position: relative;
    top: -3px;
    border-radius: 3px;
    border: 0.05em solid #8e94a6;
    font-size: 12px;
    overflow-y: hidden;
    max-width: 23ch;
    color: #1e294d;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: right;
    overflow: hidden;
    background: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mat-form-field-infix
{
  max-width: 217px;
  border-top:unset;
  top:3px;
}
.overlay{
  width: 13%;
  position: absolute;
  z-index: 100;
}
#graph foreignObject body
{
  position: absolute;
  bottom: 27px;
}

  line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#graph .container
{
  position: fixed;
  bottom: 0;
  right: 12px;
}
#graph .new_node_text
{
    width: 31px;
    min-height: 11px;
    height: 11px;
    border: 2px dashed #8e94a6;
    z-index: 99999;
    position: relative;
    top: 2em;
    left: 125px;
}
  .hide
  {
    display: none;
  }
.savebtn
{
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    bottom: 0;
    z-index:1
}
.mat-spinner
{
  position: absolute!important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.createnode
{
  pointer-events: none;
}