<mat-icon mat-button [matMenuTriggerFor]="optionsmenu" class="gear-menu" svgIcon="gear-menu"></mat-icon>

<mat-menu #optionsmenu="matMenu" xPosition="before" yPosition="below" class="optMenu" style="top: 25px; right: 25px; left: inherit;">
  <div>
    <button mat-menu-item>Option 1</button>
  </div>
  <div>
    <button mat-menu-item (click)="toggleOptionsMenu()">Variables Mapping</button>
  </div>
  <div>
    <button mat-menu-item>Option 3</button>
  </div>
</mat-menu>
