<mat-sidenav-container class="example-container">
  <mat-sidenav (closed)="sideNavClose()" style="text-align:center" #sidenav mode="push" position="end"
    [(opened)]="opened" (opened)="events.push('open!')">
    <p class="edge-head">EDGE SETTINGS</p>
    <div *ngIf="opened && node && !edge">
      <p class="edge-lab">Function</p>
      <mat-form-field class="select-form">
        <mat-select style="width: 260px" [formControl]="functionControl" (selectionChange)="findFarg('new')"
          [value]="functionControl.value" required>
          <mat-option *ngFor="let fun of functions" [value]="fun.fname">
            {{fun.fname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p class="edge-lab">Parameters</p>
      <!-- <div class="param-container" *ngIf="findFarg()">
        <div class="param-lab">Input</div>
        <input class="param" [value]="farg[0].default" type="text"> -->
      <div class="param-container" *ngFor="let arg of farg">
        <div class="param-lab">{{arg.name}}</div>
        <input type="date" class="param" [(ngModel)]="arg.default" type="text">
      </div>
      <!-- </div> -->
    </div>
    <div *ngIf="edge && !node">
      <p class="edge-lab">Function</p>
      <mat-form-field class="select-form">
        <mat-select [(value)]="selected" style="width: 260px" required>
          <mat-option *ngFor="let val of edge.source.data.data.name[0].node_text.fret" [value]="val.text">{{val.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button  (click)="delete()">Delete</button>
  </mat-sidenav>
</mat-sidenav-container>