mat-sidenav
{
    width: 350px;
    background-color: #1E294C!important;
}
.mat-error
{
    margin-top: 17px;
}

.select-form
{
    background: rgb(255, 255, 255);
    width: 79%;
    border-radius: 4px;
    padding: 4px;
}

.edge-head
{
    text-align: right;
    margin-right: 47px;
    color: #878EA0;
    font-size: 18px;
}
.param-container
{
    padding-top: 1px; 
    padding-bottom: 8px;
    background: #475878; 
    text-align: left;
    margin-bottom: 5px;
}
.param-lab
{
    color:#fff; 
    margin-left: 31px; 
    margin-top: 5px;
    margin-bottom: 9px;
}
.edge-lab
{
    text-align: left;
    margin-left: 31px;
    color: #5C87BE;
}
.param
{
    border-color: #CED4DA;
    color: #1E294D;
    background: #fff;
    border-radius: 4px;
    /* text-align: left; */
    height: 22px;
    padding: 5px;
    margin-left: 31px;
}
.mat-form-field-infix
{
    max-width: unset;
    width: 100%
}