<app-subnav></app-subnav>
<br>
<div class = scripttexts>
Description
<br><br>
  <textarea matInput  [formControl]="sc_name" class = 'descText' cols="80" placeholder="Enter Text"  required></textarea>
  <mat-error *ngIf="sc_name.invalid">{{errorMsg}}</mat-error>
<br><br>
<button mat-button class = "cancel" (click)="onNoClick()">Cancel</button>
<button mat-button  class = "save" (click)="saveDescr()">Save</button>
</div>