.version-table{
    margin: 0 auto;
    min-height: 30vh;
    overflow: auto;
    border: solid 1px;
    border-color: #A0B4DE;
    position: relative;
    overflow: hidden;
  }
  .branch-card
  {
    width: 159px;
    height: 70px;
    border-radius: 5px;
    margin-left: 0px;
    text-align: center;
    border: solid 1px #CFCFCF;
    background: #fff;
    top: 187px;
    word-wrap: break-word;
    overflow: auto;
    box-shadow: 13px 3px silver;
    pointer-events:all
  }
  .branch-node
  {
     pointer-events: none;
  }
  .branch-card p
  {
    margin-top: 4px;
  }
  .tms
  {
    font-size: 12px;
    text-align: left;
    padding-left: 12px;
    color: #6576BF;
    margin-bottom: 0;
  }
  .scr
  {
    font-size: 12px;
    text-align: left;
    padding-left:12px;
  }
text
{
  stroke: black;
  fill: black;
}
  #add-branch
  {
    border: solid 1px #fff;
    width: 12px;
    border-radius: 33px;
    height: 11px;
    text-align: center;
    background: #6576BF;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    line-height: 0.8;
    pointer-events: auto;
    margin-left: 93px;
  }
  .tooltip
  {
    position: unset;
  }
/* .overlay {
  position: absolute;
  padding: 8px;
  font-size: 10px;
} */
.nodesymbol
{
  z-index: 1000;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #202d57;
}

.node {
  pointer-events: all;
  cursor: pointer;
  fill: #fff
}

.found {
  fill: #ff4136;
  stroke: #ff4136;
}

.node text {
  font: 10px sans-serif;
}
.link-text
{
  position: relative;
  width: 65px;
  height: 40px;
  font-size: 10px;
}


[contenteditable]:focus {
    border-radius: 5px solid;
}
.edgetext
{
  position: absolute;
  width:100%;
}
.couplinglink
{
  cursor: pointer;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  cursor: pointer;
  pointer-events: all;
}
#graphcontainer
{
  width:90%
}
svg {
  width:90%;
  display: block;
  margin: 0 auto;
  top:0;
  position: absolute;
}
.node_text
{
  border-radius: 6px; 
  min-height: 47px;
  padding: 7px;
  background: #ffffff; 
  border: 1px solid #8e94a6;
  font-size:12px;
  overflow-y: hidden;
  width: 154px;
  top: -108px;
  position: absolute;
  color: #1e294d;
}
foreignObject .inactive {
    min-height: 1px;
    height: 1.1em;
}
#line {
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,0.2);
  height: 1px;
  transform-origin: top left;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.node_text2
{
border-radius: 6px;  
width:168px; 
text-align:center;
height: 24px; 
background: #ffffff; 
border: 1px dashed #8e94a6;
top: -42px;
position: absolute;
color: #1e294d;
}
.node_text2 span
{
position:absolute;
font-weight: bolder;
font-size: 24px;
}
.edited
{
height: 11px;
padding: 3px;
position: relative;
top: 0px;
border-radius: 6px;
border: 0.05em solid #8e94a6;
font-size: 12px;
overflow-y: hidden;
max-width: 70px;
color: #1e294d;
overflow: hidden;
padding-right: 10px;
padding-left: 10px;
width: fit-content;
float: right;
overflow: hidden;
background: #fff;
white-space: nowrap;
text-overflow: ellipsis;
}
.mat-form-field-infix
{
  max-width: 217px;
  border-top:unset;
  top:3px;
}
.overlay{
  width: 13%;
  position: absolute;
  z-index: 100;
}
/* foreignObject body
{
  position: absolute;
  bottom: 292px;
} */

  line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#branch .container
{
  position: fixed;
  bottom: 315px;
  right: 2px;
}
.new_node_text
{
    width: 31px;
    top: -44px;
    min-height: 11px;
    height: 11px;
    border: 2px dashed #8e94a6;
}
  .hide
  {
    display: none;
  }
.savebtn
{
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    bottom: 0
}
.mat-spinner
{
  position: absolute!important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.url-link {
  pointer-events:all;
}