<mat-sidenav-container>
<mat-sidenav id="var_tab_container" #varmaptab mode="push" position="end" (closed)="mapClosed()">
  <div id="var_tab_container">
    <div class="tab_title">VARIABLES MAPPING</div>
    <div class="tab_container">
      <table id="var_table">
        <thead>
        <tr>
          <th>#</th>
          <th>Variable</th>
          <th>Value</th>
          <th>Edge_ID</th>
          <th>Key</th>
        </tr>
      </thead>
        <tbody>
            <tr *ngFor="let variable of this.dataSet">
                <td class="varId">{{variable.id}}</td>
                <td>{{variable.name}}</td>
                <td>{{variable.value}}</td>
                <td>{{variable.edgeId}}</td>
                <td>
                  <input class="varMapInput" [(ngModel)]="variable.key" (change)="updateVar(variable.id, variable.key)" placeholder="Add" onfocus="this.placeholder=''" onblur="this.placeholder='Add'" value="{{variable.key}}">
                </td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>

</mat-sidenav>


</mat-sidenav-container>