
mat-sidenav #var_tab_container {
  height: 100vh;
  background: #1e294d;
  top: 39px;
  right: 0;
  z-index: 9999998;
  display: block;
}

mat-sidenav #var_tab_container:focus {
  outline: none;
}

#var_table input {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
  font-size: 11px;
  font-weight: bold;
}
#var_table input::placeholder {
  color: #838fa5;
  font-style: italic;
  font-size: 10px;
  font-weight: normal;
}

#var_table tbody tr:hover
{
  background: #7088A3!important;
}

#var_table td, #var_table th {
  color: white;
  text-align: left;
}
#var_table td{
  padding: 5px 40px 5px 20px;
  line-height: 0;
}
#var_table th {
  padding: 10px 40px 5px 20px;
}

#var_table th {
  color: #5e87be;
  font-weight: bolder;
  font-size: 13px;
}

#var_table tr:nth-child(odd) {
  background: #1e294d;
}

#var_table tr:nth-child(even) {
  background: #475878;
}

#var_table td:first-child, #var_table th:first-child {
  padding-right: 0;
}

#var_table {
  border-collapse: collapse;
  width: 100%;
}

#var_table input {
    max-width: 35px;
}

#var_tab_container .tab_title {
  width: 100%;
  text-align: center;
  padding: 40px 0 5px;
  color: white;
  font-size: 18px;
}

.tab_container {
  font-size: 11px;
}

.overlay_var, .overlay_set {
  background: rgb(200, 200, 200);
  display: none;
  position: absolute;
  z-index: 9999997;
  opacity: 0;
}
