@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "node_modules/vis/dist/vis.css"; */

body
{
  margin: 0;
}
app-graph
{
  width: 100%;
}
.main-body
{
  background: #F3F3F3;
  width: 100%;
}
/* .main-body .cdk-overlay-container 
{
  position: unset;
} */
.custom-dialog-container
{
  visibility: hidden;
}
.mat-focused .mat-form-field-label {
      /*change color of label*/
      color: black !important;
      
}
.mat-dialog-actions
  {
      top: -15px;
  }

.custom-dialog-container .mat-dialog-container
{
    padding: 0;
    overflow: hidden;
    border-radius: 6px;
}
.top-nav
{
    padding: 0;
    margin-bottom: 0;
    background: #5D87BE;
    width: 400px;
    height: 32px;
}
.custom-edge-container
{
  width: 500px!important;
  margin: 0 auto;
  
}
.custom-edge-container .mat-dialog-container
{
    padding: unset;
    border-radius: 8px;
    overflow: hidden;
}
.mat-form-field-underline
{
  display: none;
}
  .mat-form-field-appearance-legacy .mat-form-field-wrapper 
  {
    padding: unset;
  }
 .textarea.mat-input-element
 {
   max-width:unset;
 }
  .custom-dialog-container .mat-form-field-infix
  {
    width:249px;
  }
  .custom-dialog-container .mat-dialog-content
  {
    overflow: hidden;
  }
  .custom-edge-container .mat-form-field-infix
  {
    width: 224px;
    max-width: unset;
  }

  .custom-dialog-container .mat-form-field-wrapper
  {
  top: 5px;
  }
  mat-icon
  {
    cursor: pointer;
  }
textarea, input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
button.mat-menu-item
  {
    font-size: 11px;
    height: 19px;  
    line-height: 1px;
    padding: 0 23px;
  }
  .mat-menu-panel 
  {
    border: solid 1px;
  }
mark{
    background: #dc8860;
}
mark.current {
  background: orange;
}

.publish-script .mat-dialog-container
{
  border-radius: 11px;
}
.mat-drawer-container
{
  position: unset!important;
}

.cdk-global-scrollblock, .main-body {
  overflow: hidden;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
{
  background-color: #6576BF !important
} 

.mCSB_inside > .mCSB_container
{
  margin-right: 0px!important;
}

.custom-script-container mat-dialog-container
{
  overflow: hidden;
  border-radius:7px;
}

.scripttexts input
{
    padding: 6px;
    border: solid 0.5px;
    width: 92%;
    margin-top: 4px;
    border-color: #E6E8EC;

}
.scripttexts 
{
    font-size: 13px;
    color: #6576BF;
}
.scripttexts button
{
    margin-left: 23px;
    height: 32px;
    font-size: 10px;
    border-radius: 6px;
}
.save
{
    background: #6576BF;
    color: #fff;
    font-weight: bold;
}
.descText
{
  width: 100%!important;
  height: 50px;
  border: solid 1px #E6E8EC;
  border-radius: 5px;

}
.cancel
{
    background: #F3F3F3;
    color: black;
    font-weight: bold;
}
.scr_bin mat-icon
{
  height: 15px;
  vertical-align: middle;
  position: relative;
}
.mat-autocomplete-panel
{
  width: 77%!important;
  margin-left: 15px;
  position: absolute!important;
}
.publish-script mat-dialog-container
{
  overflow: hidden!important;
}
*
{
  font-family: Assistant!important;
}
* .mat-raised-button, .save, .confirm
{
  background: #5D87BE!important;
  font-size: 15px!important
}

* .mat-raised-button:hover, .save:hover, .confirm:hover
{
  background: #4771A8!important
}
.cancel
{
  background: #F3F3F3;
  color:#1E294D;
  font-size: 15px!important
}
.cancel:hover
{
  background: #E0F2FB!important
}
#mat-autocomplete-1
{
  width: 77%!important;
  margin-left: 11px;
}
.add-node-button:hover
{
  color:#4771A8!important;
}
input,textarea:focus::placeholder
{
  color: #ffff
}
input
{
  border-color: #CED4DA;
  color: #1E294D;
  
}
.arrow-link::selection path, .arrow-link-image::selection path
{
  stroke: #fff
}
app-leftside-toolbox
{
  z-index: 100;
}

.top-nav
{
  z-index:1;
  height: 45px;
}

.picker-header {
  display:block;
  font-size:small;
  color:white;
}
.datepicker .mat-form-field-infix {
  width:150px;
}
.datepicker .mat-form-field-infix > input{
  background-color:white;
  border-radius:4px;
  height:1.5em;
  color:black;
}