.top-nav
{
    height: 39px;
    background: #5d87be;
    color: white;
    position: relative;
}
.nav-items
{
  z-index: 100;
}
.navigate-back
{
    height: 28px;
    width: 33px;
    left: 0;
    position: absolute;
    top: 6px;
}

.settings_list {
  position: absolute;
  right: 20px;
  top: 35px;
  background: white;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.6);
  color: black;
  padding-right: 0;
  font-size: 12px;
  z-index: 9999999;
}

.settings_list ul {
  padding-left: 0;
}

.settings_list ul li {
  padding-left: 20px;
  padding-right: 20px;
}

.settings_list ul li:hover {
  background: rgba(0,0,0,0.1)
}

li.var_map:hover {
  cursor: pointer;
}

#settings_gear:hover {
  cursor: pointer;
}
.publish
{
  position: absolute;
  right: 64px;
  top: 8px;
  width: 27px;
  z-index: 1;
}
