<mat-toolbar class="top-nav">
  <span (click)="navBack()">
    <mat-icon class="navigate-back" svgIcon="navigate-arrow"></mat-icon>
  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>SPIXII</span>&nbsp;&nbsp;<small  *ngIf = "_location.path() !=='/scriptlist'" >Script Name</small>


  <nav mat-tab-nav-bar *ngIf = "_location.path().search('/script/') >= 0" selectedIndex="links[0]"style=" display: block; margin-left: auto;margin-right: auto;">
    <a mat-tab-link *ngFor="let link of links"
    (click)="activeLink = link;openTab(link);"
    [active]="activeLink == link"> {{ link }} </a>
  </nav>
  <!-- <mat-icon mat-button [matMenuTriggerFor]="optionsmenu" class="gear-menu" svgIcon="gear-menu"></mat-icon> -->
  <options-menu *ngIf = "_location.path() !=='/scriptlist'" (menuOpen)="menuop($event);" class="optionsMenu" style="top: 5px; right: 20px; position: absolute;">
  </options-menu>

</mat-toolbar>

<span  *ngIf = "_location.path() !=='/scriptlist'">
  <mat-icon (click)="openDialog()" class="publish" svgIcon="publish"></mat-icon>
</span>
<var-map-tab  #vartab></var-map-tab>