.publish
{
    border-radius: 11px;
    text-align: center;
    position: relative;
    line-height:18px;
}

.publish button
{
    border-radius: 6px;
    height: 30px;
    font-size: 10px;
}
.confirm
{
    background:#7A8AC9;
    color: #fff;
}
.check-circle
{
    position: absolute;
    top: -28px;
    width: 53px;
    height: 53px;
    left: 100px;
}