<p *ngIf="!publish" class='publish'>
  Do you confirm you want to publish this script [ID:{{script}},Branch:{{branch}}] ?
  <br>
  <br>
  <button class = "cancel" (click)="onNoClick()" mat-button>Cancel</button>&nbsp;&nbsp;<button class = "confirm"  (click)="saveScript()" mat-button>Confirm</button>
</p>

<p *ngIf="publish" class = 'publish'>
  <span (click)="onClickAction()"><mat-icon class= "check-circle" svgIcon="check-circle"></mat-icon></span>
  <br>
  <br>
  <span>The script has been successfully published</span>
  You can try it on the link <a href="https://ue.test.app.spixii.ai/chatbot/web/?spixii_bot_id={{botId}}">https://ue.test.app.spixii.ai/chatbot/web/?spixii_bot_id={{botId}}</a>
</p>