.script-container h1
{
  line-height: 0;
  margin-top: 45px;
}
.script-container, .version-container{
    width: 90%;
    margin: 0 auto;
}
.create-script-btn
{
  float: right;
  margin-top: -39px;
  background: #291F4F;
  color:#fff;
  height: 32px;
  font-size: 12px;
}

.enable-testing-btn {
  float: right;
  margin-top: -39px;
  background: #00ff00;
  color:#fff;
  height: 32px;
  font-size: 12px;
}