<section class="script-container">
    <div>
      <h1>Scripts</h1>
      <button mat-raised-button class = "create-script-btn" (click)="openDialog()">Create new script</button>
    </div>
    <app-script-table (scriptSelected) = "scriptSelected($event)" (scriptDel) = "scriptDel($event)"  [setProp]="script_created"></app-script-table>
  </section>

  <section *ngIf = "selScrId>0" class="version-container">
    <div>
      <h1>Versioning</h1>
      <div *ngIf="testEnabled then thenBlock else elseBlock"></div>
      <ng-template #thenBlock> <button mat-raised-button  class = "enable-testing-btn"  (click)="testEnabled = false;editModule()">Branch Testing enabled</button></ng-template>
      <ng-template #elseBlock> <button mat-raised-button  class = "enable-testing-btn"  (click)="testEnabled = true;editModule()">Branch Testing disabled</button></ng-template>
    </div>
    <app-version  [setScr]="selScrId" [setTms] ="selTms" [setId]="selBotId" [setDele]="delScr" ></app-version>
  </section>