<mat-toolbar class="left-toolbox">
    <button mat-icon-button  [matMenuTriggerFor]="calendar" aria-label="Example icon-button with a menu" class="calendar-button">
        <mat-icon svgIcon="calendar" style="fill:white;"></mat-icon>
      </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="analytics-button">
    <mat-icon svgIcon="menu" style="fill:white;"></mat-icon>
  </button>
  
  <mat-menu  #menu="matMenu" xPosition="after" class="analytics-menu">
    <h2>ANALYTICS</h2>
    <div>
      &nbsp;&nbsp;&nbsp;<span>Traffic</span><mat-checkbox [(ngModel)]="visitors" (click)="$event.stopPropagation();"  class="visitorscheck" ></mat-checkbox>
    </div>
    <br/>
    <div>
      &nbsp;&nbsp;&nbsp;<span>Drops</span><mat-checkbox [(ngModel)]="drops" (click)="$event.stopPropagation();"  class="dropscheck" ></mat-checkbox>
    </div>
    <div>
      <br/>
      &nbsp;&nbsp;&nbsp;<span >Timestamps</span><mat-checkbox [(ngModel)]="timestamps" (click)="$event.stopPropagation();"  class="timescheck"></mat-checkbox>
    </div>
  <br/>
    &nbsp;	&nbsp;	&nbsp;	<button mat-raised-button color="primary" (click)="showAnalytics();" class="applyButton">Apply</button>
  
  </mat-menu>

  <mat-menu  #calendar="matMenu" xPosition="after" class="calendar-menu">
      <h2>DATE RANGE</h2>
      <span class="picker-header">From</span>
      <mat-form-field class="datepicker">
          <input matInput [matDatepicker]="picker1" [(ngModel)]="fromdate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <span class="picker-header">To</span>
        <mat-form-field class="datepicker">
          <input matInput [matDatepicker]="picker2" [(ngModel)]="todate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br/>
        <br/>
        <button mat-raised-button color="primary" (click)="loadDates();" class="applyButton">Apply</button>
    </mat-menu>
</mat-toolbar>
