.left-toolbox
{
    width: 5px;
    height:99vh;
    background: #1e294d;
    position: relative;
}

.analytics-button
{
    fill: #ffffff;
    top: 45px;
    position: absolute;
    left: 4px;
    width: 19px;
    cursor: pointer
}

.calendar-button
{
    fill: #ffffff;
    top: 5px;
    position: absolute;
    left: 4px;
    width: 19px;
    cursor: pointer
}

::ng-deep .analytics-menu{
    background: #1e294d;
    overflow:hidden;
    padding:0;
    color:white;
    height:300px;
    width:200px;
    pointer-events:none;
}

::ng-deep .calendar-menu{
    background: #1e294d;
    overflow:hidden;
    padding:0;
    color:white;
    height:300px;
    width:500px;
    pointer-events:none;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: grey;
    pointer-events:all;
    
}

::ng-deep  .mat-datepicker-toggle {
    pointer-events:all;
    color:white;
}

::ng-deep .visitorscheck{
    position:absolute;
    left:100px;
    

}

::ng-deep .dropscheck{
    position:absolute;
    left:100px;
}

::ng-deep .timescheck{
    position:absolute;
    left:100px;
}

.applyButton{
    pointer-events:all;
}



