<section id="designer">
  <app-leftside-toolbox #data (highlightText) = "graph.highlightText($event)" (navigateSearch) = "graph.navigateSearch($event)" (nodeType) = "graph.nodeType($event)" (showVisitors) = "graph.showVisitors($event)"></app-leftside-toolbox>
  <app-graph (edgeCreated)="fun.edgeCreated($event)" (collapseNodes)="data.collapseNodes($event)" (nodeCreated)="data.nodeCreated($event)" #graph ></app-graph>
  <app-functional-edge #fun (edgeBoxClosed)="graph.edgeBoxClosed($event)" ></app-functional-edge>
</section>
