<p  class='publish'>
  Do you confirm you want to delete the script {{data.name}} ?
  <br>
  <br>
  <p class="del-buttons">
    <button (click)="onNoClick()" class = "cancel" mat-button>Cancel</button>&nbsp;&nbsp;<button class="confirm" (click)="deleteScript()"
      mat-button style="background: #6576BF;
      color: #fff;">Confirm</button>
</p>
