<!-- Content -->
<div class="script-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell (click)="scrSelected(element.id, element.Created_on, element.Config,element.botId)" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Branch Column -->
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
      <td mat-cell (click)="scrSelected(element.id, element.Created_on, element.Config,element.botId)" *matCellDef="let element"> {{element.branch}} </td>
    </ng-container>

    <!-- Bot id Column -->
    <ng-container matColumnDef="botId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bot ID </th>
      <td mat-cell (click)="scrSelected(element.id, element.Created_on, element.Config,element.botId)" *matCellDef="let element"> {{element.botId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Script">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Script </th>
      <td mat-cell (click)="scrSelected(element.id, element.Created_on, element.Config,element.botId)" *matCellDef="let element"> {{element.Script}}
      </td>
    </ng-container>

    <!-- Client Column -->
    <ng-container matColumnDef="Client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
      <td mat-cell (click)="scrSelected(element.id, element.Created_on, element.Config,element.botId)" *matCellDef="let element"> {{element.Client}}
      </td>
    </ng-container>

    <!-- Created On Column -->
    <ng-container matColumnDef="Created_on">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created on </th>
      <td mat-cell (click)="scrSelected(element.id, element.Created_on, element.Config)" *matCellDef="let element">
        {{element.Created_on}} </td>
    </ng-container>

    

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let element">
          <span class="scr_bin">
              <mat-icon class="node-bin" (click)="cloneScript(element.id)" svgIcon="clone-button"></mat-icon>
            </span>
        <span class="scr_bin">
          <mat-icon class="node-bin" [matMenuTriggerFor]="menu" (click)="selScript(element.id, element.Script)" svgIcon="three-dots"></mat-icon>
        </span>
        <span class="scr_bin">
          <mat-icon class="node-bin" (click)="deleteScript(element.id, element.Script)" svgIcon="node-bin"></mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  id="dark-card" dark></tr>
  </table>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editScript(sel_script_id)">Edit script</button>
  <button mat-menu-item (click)="deleteScript(sel_script_id, sel_script_name)">Delete script</button>
  <button mat-menu-item>Option 3</button>
</mat-menu>