table {
    width: 100%;
  }
  
th.mat-sort-header-sorted {
    color: black;
  }

.script-table{
    margin: 0 auto;
    max-height: 35vh;
    overflow: auto;
    border: solid 1px;
    border-color: #A0B4DE;
  }

.script-table th
{
  background: #DFF0FC;
}
.script-table tr
{
  height: 35px;
}
.script-table .mat-row:hover {
  background-color: #DFF0FC;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}