.left-toolbox
{
    width: 5px;
    height:99vh;
    background: #1e294d;
    position: relative;
}
.searchText
{
    border: 1px solid #CED4DA;
    padding-left: 8px;
    background-color: #ffff;
    border-radius: 3px;
    width: 261px;
    height: 36px;
}
.icon-standard
{
    fill: #ffffff;
    top: 5px;
    position: absolute;
    left: 4px;
    width: 19px;
    cursor: pointer
}

.search
{
    top: 90px;
    width: 26px;
}
.star
{
    top: 30px;
    width: 26px;
}

.triangle
{
    top: 60px;
    width: 26px;
}

.searchbox
{
    position: absolute;
    top: 84px;
    left: 32px;
}
.navigate
{
    right: 7PX;
    position: ABSOLUTE;
    top: 8PX;
    height: 20PX;
    color: #5d87be;
}


.enable {
    fill: #5d87be;
}

.disable {
    fill:#ffffff;
}

.navigate mat-icon
{
    width: 18px;
}
.search-occurence
{
    font-size: 10px;
    top: -5px;
    position: absolute;
    left: -13px;
    color: #cccccc;
}

.searchbox
{
  z-index: 100;
}

.search-tick
{
    width: 18px;
    left: -8px;
    position: absolute;
    top: 3px;
    color: #5D87BE;
}

.visitorscheck {
    position:absolute;
    top:113px;
    left:5px;
} 