<mat-toolbar class="left-toolbox">
  <span>
    <mat-icon class="icon-standard" [ngClass]="{'enable' : type === 'q', 'disable': type !== 'q'}" svgIcon="node-standard" style="left:8px;"
      (click)="nodesType('q')"></mat-icon>
  </span>
  <span>
    <mat-icon class="icon-standard star" [ngClass]="{'enable' : type === 'i', 'disable': type !== 'i'}"  svgIcon="star"  (click)="nodesType('i')"></mat-icon>
  </span>
  <span>
    <mat-icon class="icon-standard triangle"  [ngClass]="{'enable' : type === 'f', 'disable': type !== 'f'}"  svgIcon="triangle" (click)="nodesType('f')">
    </mat-icon>
  </span>
  <span>
    <mat-icon class="icon-standard search"  svgIcon="search" (click)="searchBox()"></mat-icon>
  </span>
  <div class="searchbox" *ngIf="showSearchBox"><input type="text" class="searchText" [(ngModel)]='searchText'
      (input)="showTick()" placeholder="Search" (keyup.enter)="highlight()">
    <span class="navigate">
      <span class="search-occurence" *ngIf="searchText && searchText.length>1 && searchTick">
        <mat-icon (click)="highlight()" class="search-tick" svgIcon="tick"></mat-icon>
      </span>
      <span *ngIf="searchNav"><span class="search-occurence">{{ currentIndex }}/{{ searchOccurences }}</span>
        <mat-icon svgIcon="navigate-arrow" id="prev" (click)="prev()"></mat-icon>
        <mat-icon svgIcon="navigate-arrow-right" id="next" (click)="next()"></mat-icon>
      </span>
    </span>
  </div>
</mat-toolbar>